/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* fonts */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/Merriweather-Light.woff2') format('woff2'),
        url('../fonts/merriweather/Merriweather-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* styles */ 

body {
    font-family: 'Merriweather';
    font-size: 10px;
}

h1, h2 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}

nav li {
    font-size: 1.5rem;
    /* so it's not affected by the other line-height */
    line-height: normal;
    list-style-type: none;
    text-align: center;
    padding: 15px 30px;
    margin-bottom: 15px;
    border: 1px solid #a66;
}

nav li a {
    text-decoration: none;
}

p, li {
    line-height: 1rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

ul, ol {
    list-style-type: square;
}

h1 {
    text-align: center;
}

section > h2 + p {
    text-indent: 20px;
}

a {
    outline: none;
}

a:link {
    color: #705d66;
}
a:visited {
    color: #a66;
}

a:focus {
    color: 	#ee3838;
    text-decoration: none;
}
/* couldn't get focus working for the nav list, well it works but the border wont change because im assuming without javascript you can change the parent element when the child element is the focus*/
/* the nav link borders change for every other function except focus :( */

a:hover {
    color: 	#a68a55;
    text-decoration: none;
}
nav li:hover {
    color: 	#a68a55;
    border: 1px solid #a68a55;
}

a:active {
    color:#5da187;
}
nav li:active {
    color:#5da187;
    border: 1px solid #5da187;
}

section > p:first-of-type a::after {
    content: "";
    padding-right: 14px;
    background: url('../img/external-link.png') no-repeat 100% 0;
    background-size: 12px 12px;
}
